{% extends 'layout.html' %}

{% block content %}
<div class="badan">
    <center>
    {% block title %}
        <h1>Please Register / Register here!</h1>
    {% endblock %}
    </center>
    <br>
    <center>
    {% block body %}
        {% if form.errors %}
        <p>There is an error on registration</p>
        {% endif %}
        <form action="{% url 'register' %}" class="size-form" method=POST>
            <div class="form-control">
                <div class="mid-form">
                    <p>Already have an account? Please <a href="{% url 'login' %}">login</a> </p>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mid-form">
                    <input type="submit" value="Submit" class="btn btn-primary">            
                </div>
            </div>
        </form>
    {% endblock %}
    </center>
</div>


<style>
    .badan {
        margin-left: 40px;
    }

    .form-control ul, .helptext{
        display: none;
    }

    .form-control {
        width: 100%;
        text-align: justify;
    }

    .mid-form {
        text-align: center;
    }

    .size-form {
        width: 540px;
    }

    @media only screen and (max-width: 600px) {
        /* Gaya CSS untuk layar berukuran kecil (contoh: smartphone) */
        .badan {
            margin-left: 0px;
        }
        
        .container {
            width: 350px;
            height: 30px;
            margin-left: 20px;
        }

        .size-form{
            margin-left: 5px;
            width: 350px;
        }
    }

</style>

{% endblock %}