{% extends 'layout.html' %}

{% block content %}
<div class="badan">
    <center>
    <h1>Ganti Password Baru</h1>
    </center>
    <br>
    <center>
    <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
        <br><br>
        <a href="{% url 'login' %}">Login</a>
    </form>
    </center>
</div>


<style>
    .badan {
        margin-left: 40px;
    }

    .form-control ul, .helptext{
        display: none;
    }

    .form-control {
        width: 80%;
        text-align: justify;
    }


</style>

{% endblock %}