{% extends 'layout.html' %}

{% block content %}
    <center>
        <h1>The Class</h1>
        <br><br><br>
    </center>

    <center>
        <table class="table tabel-theclass table-bordered table-hover">
            {% for myclass in classes %}
                <tr>
                    <td>
                        <a href="{% url 'show_kelas' myclass.id %}">{{ myclass }}</a>
                    </td>

                    {% if user.is_authenticated and user.is_superuser %}
                    <td align="center">
                        <a href="{% url 'edit_kelas' myclass.id %}" class="btn btn-outline-warning">Edit</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </center>

        <br><br>

        <!-- Tempatkan bootstrap tombol halaman disini -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            

                <!-- End -->


                <!-- Tombol Previous -->
                {% if classes.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                    <li class="page-item"><a href="?page={{ classes.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}

                <!-- For loop untuk membuat angka page halaman bisa di klik -->
                {% for angka in pageAngka %}
                    {% if angka == classes.number %}
                        <li class="page-item active"><a href="?page={{ angka }}" class="page-link">{{ angka }}</a></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ angka }}" class="page-link">{{ angka }}</a></li>
                    {% endif %}
                {% endfor %}


                <!-- Tombol Next -->
                {% if classes.has_next %}
                    <li class="page-item"><a href="?page={{ classes.next_page_number }}" class="page-link">Next</a></li>

                    <li class="page-item"><a href="?page={{ classes.paginator.num_pages }}" class="page-link">Last</a></li>
                {% endif %}
                
            </ul>
        </nav>
        
    
    <style>
        .tabel-theclass {
            margin-left: 55px;
            width: 450px;
            border-color: black;
        }
    </style>
{% endblock %}