{% extends 'layout.html' %}
{% load static %}

{% block content %}
<center>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<h1>Welcome to KOSAN (Koding Santai) Coding Website</h1>
<h3>Don't wait for too long to learn coding, now you're in {{ month }} {{ year }}.</h3>
<h3>It's now or never to change your life.</h3>
<br><br>
{{ kalender|safe }}
<br><br>

{% for student in course.myclass.all %}
    {% if student.profile_image %}
        <img src="{{ student.profile_image.url }}" alt="{{ student.first_name }}'s profile image">
    {% else %}
        <img src="{% static 'no-profile-picture.png' %}" alt="No profile image available">
    {% endif %}
{% endfor %}

<br><br>
<h4> Time is money buddy, hurry up! {{ time }} </h4>

</center>
{% endblock %}