{% extends 'layout.html' %}

{% block content %}
    <center>
        <h3>Your Payment</h3>
    </center>
    <br>
    <div class="payment">
        <form action="" class="form-control" method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-position">
                <input type="submit" value="Buy Class (Free)" class="btn btn-primary">
            </div>
        </form>
        <br>
    </div>

    <style>
        .payment {
            margin-left: 300px;
            margin-right: 45px;;
            padding-top: 6px;
            width: 650px;
        }

        .form-control {
            padding: 5px;
            margin-bottom: 10px;
        }

        .button-position {
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            /* Gaya CSS untuk layar berukuran kecil (contoh: smartphone) */
            h3 {
                margin-left: 20px;
            }

            .payment {
                margin-left: 40px;
                width: 300px;
            }

            .form-control {
                width: 100%;
            }
        }
    </style>
{% endblock %}